<p class="question_headers">Alright we get a little jealous, but let’s talk about your current teeth whitening routine. What do you use?</p>
<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="strips_2" name="routine_2" value="strips_2">
    <label for="strips_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-bacon.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>Teeth whitening strips</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="led_2" name="routine_2" value="led_2">
    <label for="led_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-mouth-guard.svg' | asset_url }}">
      </span>
      <span class = 'text'>LED kit</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="dentist_2" name="routine_2" value="dentist_2">
    <label for="dentist_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-doctor-50.svg' | asset_url }}">
      </span>
      <span class = 'text'>Dentist whitening</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="toothpaste_2" name="routine_2" value="toothpaste_2">
    <label for="toothpaste_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-toothpaste-50.svg' | asset_url }}">
      </span>
      <span class = 'text'>Whitening toothpaste</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="rookie_2" name="routine_2" value="rookie_2">
    <label for="rookie_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-person-50.svg' | asset_url }}">
      </span>
      <span class = 'text'>Haven't tried it</span>
    </label>

  </fieldset>
</div>