{{ 'section-carousel-before-and-after.css' | asset_url | stylesheet_tag }}

<section class="carousel-before-after">
  <h3>Before and After!</h3>
  <div class="page-width before-after-outer">
    <div class="carousel__inner_before_after">
      <div class="carousel-instance-customer-image swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="carousel__slide-content carousel__slide-content-before-after">
                  <img
                    srcset="{{ block.settings.png | image_url: width: '832px' }} 1x, {{ block.settings.png | image_url: width: '832px', scale: 2 }} 2x"
                    src="{{ block.settings.png | image_url: width: '832px'}}"
                    loading="lazy"
                    class="header__heading-logo"
                    width="{{ block.settings.png.width }}"
                    height="{{ block.settings.png.height }}"
                    alt="{{ block.settings.png.alt }}"
                  >
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination carousel-pagination-customer-image"></div>
      </div>
      <div class="swiper-button-prev carousel-prev-customer-image hide-mobile"></div>
      <div class="swiper-button-next carousel-next-customer-image hide-mobile"></div>
    </div>
    <div class='carousel__inner_before_after'>
        <div class="carousel-instance-customer-text swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="carousel__slide-content carousel__slide-content-before-after">
                        <div>
                          <p class="product_carousel_name">{{ block.settings.name }}</p>
                          <p class="product_carousel_verified">{{ block.settings.verified }}</p>
                        </div>
                        <p class="">{{ block.settings.background }}</p>
                        <hr style = 'margin: 15px 0;'>
                        <div>
                          <div>
                            <span class="fa fa-star checked-landing landing-stars"></span>
                            <span class="fa fa-star checked-landing landing-stars"></span>
                            <span class="fa fa-star checked-landing landing-stars"></span>
                            <span class="fa fa-star checked-landing landing-stars"></span>
                            <span class="fa fa-star checked-landing landing-stars"></span>
                          </div>
                        </div>
                        <p class="carousel_quote">{{ block.settings.quote }}</p>
                        <p class="carousel_quote">{{ block.settings.quote_2 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 
    </div>
  </div>
</section>


{% javascript %}
  const carousel_customer_image = new Swiper('.carousel-instance-customer-image', {
    slidesPerView: 1,
    autoplay: {
      speed: 7000,
    },
    navigation: {
      nextEl: '.carousel-next-customer-image',
      prevEl: '.carousel-prev-customer-image',
    },
    pagination: {
      el: '.carousel-pagination-customer-image',
      type: 'bullets',
    },
  });

  const carousel_customer_text = new Swiper('.carousel-instance-customer-text', {
    slidesPerView: 1
  });

  carousel_customer_image.on('activeIndexChange', function() {
    console.log('*** carousel_customer_text.realIndex', carousel_customer_image.realIndex);
    carousel_customer_text.slideTo(carousel_customer_image.realIndex)
  });
{% endjavascript %}

{% schema %}
{
  "name": "before-and-after",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "png",
          "label": "PNG Logo",
          "info": "SVG is preferred, but PNG can be used instead"
        },
        {
          "type": "textarea",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "textarea",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "textarea",
          "id": "quote_2",
          "label": "Quote 2"
        },
        {
          "type": "textarea",
          "id": "verified",
          "label": "Verified"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "before-and-after"
    }
  ]
}
{% endschema %}
