{{ 'section-hero-landing.css' | asset_url | stylesheet_tag }}

{% assign formatted_title = section.settings.title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

{% assign formatted_sub_title = section.settings.sub_title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<div class="Landing_Hero">
  {% if section.settings.mobile_image != blank %}
    {% render 'lazy-image', image: section.settings.image, fade: true, fill: true, classes: 'hide-mobile' %}
    {% render 'lazy-image', image: section.settings.mobile_image, fade: true, fill: true, classes: 'hide-desktop' %}
  {% elsif section.settings.image != blank %}
    {% render 'lazy-image', image: section.settings.image, fade: true, fill: true %}
  {% endif %}
  <div class="page-width Hero_Inner">
    <div class="Hero_Container">
      {% if section.settings.review != blank %}
        <h5 class="Hero_Review">{% render 'icon' icon: 'review-5-star' %}<span class='stylized'>{{ section.settings.review }}</span></h5>
      {% endif %}
      <h2 id = 'hero_title' class="Hero_Title">{{ formatted_title | newline_to_br }}</h2>
      {% if formatted_sub_title != blank %}
        <h5 id = 'hero_subtitle_1' style = 'margin-bottom: 20px; max-width: 600px;' class="Hero_Subtitle h5">{{- formatted_sub_title -}}</h5>
      {% endif %}
      {% comment %} <h5 style = 'display: none; color: #46BDF0;' id = 'landing-hero-discounted' class="Hero_Subtitle h5">75% OFF</h5> {% endcomment %}
      <h5 style = 'display: none;' id = 'landing-hero-discounted' class="Hero_Subtitle h5">75% OFF</h5>

      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}"  {% if section.settings.button_action == "quiz" %}data-open-quiz{% endif %}  {% if settings.discount_code != blank %}onclick="window.localStorage.setItem('landing_page_product_discount','{{ settings.discount_code }}')" {% endif %} class="button {% if section.settings.button_style == 'secondary' %}button--secondary{% else %}button--primary{% endif %}">
          {{- section.settings.button_label -}}
        </a>
      {% else %}
        <button class="button button--secondary"  {% if section.settings.button_action == "quiz" %}data-open-quiz{% endif %}  {% if settings.discount_code != blank %}onclick="window.localStorage.setItem('landing_page_product_discount','{{ settings.discount_code }}')" {% endif %}>{{ section.settings.button_label }}</button>
      {% endif %}
      {% if section.settings.hero_badges != blank %}
        <div class="Hero_Badges">
          <img src="{{ section.settings.hero_badges | img_url: '160x' }}">
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function getCookie(cname) {
    // const value = `; ${document.cookie}`;
    // const parts = value.split(`; ${name}=`);
    // if (parts.length === 2) return parts.pop().split(';').shift();

    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return null;
  }

  function getSubPriceLanding() {
      const cookies = ['redirect_inspire', 'redirect_ut', 'redirect_ut_direct', 'redirect_paceline', 'redirect_sweatcoin', 'redirect_miles', 'redirect_studentbeans']
  
      let subscriptionCookie = cookies.filter( cookieName => getCookie(cookieName) != null )
      let subPrice = ''
  
      switch(subscriptionCookie[0]) {
        case 'redirect_sweatcoin':
          {% comment %} $('#landing-hero-discounted').html('Free Whitening Pen Included With Purchase')
          $('#landing-hero-discounted').css('display', 'block')
          setTimeout(function(){
            document.getElementsByClassName('discount-code')[0].innerHTML = 'ADD_PEN'
            document.getElementsByClassName('discount-text')[0].innerHTML = 'free pen included with purchase'
          }, 100);
          subPrice = '19' {% endcomment %}
          $('#hero_subtitle_1').css('margin-bottom', '50px !important')

          $('#hero_title').html('Try Dentist-Made <br> Teeth Whitening <br> <span class = "stylized">For Free Today</span>') 
          
          document.getElementsByClassName('Hero_Subtitle')[0].querySelector('span').style.fontSize = '22px'
          $('.Hero_Subtitle').first().html("See A Noticeable Difference In Just One Week With A Customized Whitening Solution Today.")
          subPrice = '0'
          break
        case 'redirect_ut':
          {% comment %} $('#landing-hero-discounted').css('display', 'block') {% endcomment %}
          {% comment %} $('#landing-hero-discounted').html('Free Whitening Pen Included With Purchase')
          $('#landing-hero-discounted').css('display', 'block') {% endcomment %}
          $('#hero_subtitle_1').css('margin-bottom', '50px !important')

          {% comment %} $('#hero_title').html('Try Dentist-Made <br> Teeth Whitening <br> <span class = "stylized">For Free Today</span>')  {% endcomment %}
          {% comment %} $('#hero_title').html('Get A <span class = "stylized">Free Whitening Pen</span> <br> With Your Kit')  {% endcomment %}
          
          document.getElementsByClassName('Hero_Subtitle')[0].querySelector('span').style.fontSize = '22px'
          $('.Hero_Subtitle').first().html("See A Noticeable Difference In Just One Week With A Customized Whitening Solution Today.")
          subPrice = '0'
          break;
        case 'redirect_ut_direct':
          subPrice = '9'
          break
        case 'redirect_paceline':
          subPrice = '29'
          break
        case 'redirect_miles':
          subPrice = '9'
          break
        case 'redirect_studentbeans':
          subPrice = '9'
          break
        case 'redirect_inspire':
          subPrice = '9'
          break
        default:
          subPrice = '19'
          break
      }
  
      return subPrice
  }

  try {
    subPrice = getSubPriceLanding()
    console.log(subPrice)
    
    setTimeout(function(){
      if (subPrice != '') {
        $('.Hero_Subtitle').first().find('.stylized').first().html("<sup>$</sup>"+subPrice+"")
      }
    }, 100);
  } catch (error) {
    console.log('not ready yet');
  }


  setTimeout(function(){
    try {
      subPrice = getSubPriceLanding()
      if (subPrice != '') {
        $('.Hero_Subtitle').first().find('.stylized').first().html("<sup>$</sup>"+subPrice+"")
      }
    } catch (error) {
      console.log('not ready yet');
    }

  }, 1500);

  setTimeout(function(){
    try {
      subPrice = getSubPriceLanding()
      if (subPrice != '') {
        $('.Hero_Subtitle').first().find('.stylized').first().html("<sup>$</sup>"+subPrice+"")
      }
    } catch (error) { 
      console.log('not ready yet')
    }
  }, 5000);
  
</script>

{% schema %}
{
  "name": "Hero Landing",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "review",
      "label": "Review"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "info": "Wrap italized text in {}"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "header",
      "content": "Badges"
    },
    {
      "type": "image_picker",
      "id": "hero_badges",
      "label": "Hero Badges"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "secondary",
      "label": "Button Style"
    },
    {
      "type":"select",
      "id":"button_action",
      "label":"Button Actons",
      "options":[
        {
          "label":"Redirect on URL",
          "value":"url"
        },
        {
          "label":"Open Quiz",
          "value":"quiz"
        }
      ],
      "default":"quiz"
    }
  ],
  "presets": [
    {
      "name": "Hero Landing"
    }
  ]
}
{% endschema %}
