{{ 'section-quiz-2.css' | asset_url | stylesheet_tag }}

{% liquid
  assign formatted_heading_0 = section.settings.step1 | replace: '{', "<span class='bolded'>" | replace: '}', '</span>'

  assign formatted_heading_1 = section.settings.step2 | replace: '{', "<span class='bolded'>" | replace: '}', '</span>'

  assign formatted_heading_2 = section.settings.step3 | replace: '{', "<span class='bolded'>" | replace: '}', '</span>'

  assign formatted_heading_3 = section.settings.step4 | replace: '{', "<span class='bolded'>" | replace: '}', '</span>'

  assign formatted_heading_4 = section.settings.step5 | replace: '{', "<span class='bolded'>" | replace: '}', '</span>'

%}

<formula-quiz-2 data-state="0">
  <section class="quiz_2" aria-hidden="true">
    <div class="quiz_2__inner">
      <div class="quiz_2__header">
        <div class="quiz_2__logo">
          {% if section.settings.quiz_svg_logo != blank %}
            <div class="quiz_2__logo-svg">
              {{ section.settings.quiz_svg_logo }}
            </div>
          {% endif %}
        </div>

        <button class="quiz_2__close">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="15.1944" y1="1.05253" x2="1.05224" y2="15.1947" stroke="#0D2244"/>
            <path d="M15.2134 15.2131L1.07125 1.071" stroke="#0D2244"/>
          </svg>
        </button>
      </div>
      <div class="quiz_2__content page-width">
        <div class = 'progress-bar-wrapper' style = 'height: 50px;'>
          {% render 'quiz-progress-bar' %}
        </div>
        <div class = 'quiz_2__landing form__step-wrapper_2 active' data-step='0' >
          <div style = 'max-width: 400px; display: inline-block; flex: 0 1 auto;'>
            <div>
              <img style = 'display:inline-block;' width = '40' height = '40' loading = 'lazy' src="{{ 'icons8-ai.svg' | asset_url }}" > 
            </div>
            <p style = 'text-transform: none; display: inline-block;' class="powered-quiz quiz_2__headline active" data-step="0">{{ formatted_heading_0 }}</p>
            <p style = 'text-transform: none;' class="quiz_2__headline active" data-step="0">{{ formatted_heading_1 }}</p>
            <p style = 'text-transform: none; margin-top: 10px;' class="quiz_heading_2 quiz_2__headline active" data-step="0">{{ formatted_heading_2 }}</p>
            <p style = 'text-transform: none; margin-top: 10px;' class="quiz_heading_3 quiz_2__headline active" data-step="0">{{ formatted_heading_3 }}</p>
            <p style = 'text-transform: none; margin-top: 10px;' class="quiz_heading_3 quiz_2__headline active" data-step="0">{{ formatted_heading_4 }}</p>
          </div>
          <div class = 'laughland-drop-container'>
            <img class = 'laughland-drop' src="{{ 'Laughland-drip-big.png' | asset_url }}">
          </div>
          {% comment %} <div class="quiz_2__content-buttons">
            <button class="button" data-form-begin>Let's Get Started</button>
          </div> {% endcomment %}
        </div>
        <div class="quiz_2__content-card">
          <div class="quiz_2__form">
            {% form 'customer' %}
              <div class="form__step-wrapper_2" data-step="1">
                {% render 'quiz-step-one-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="2">
                {% render 'quiz-step-two-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="3">
                {% render 'quiz-step-three-2' %}
              </div>

              <div class="form__step-wrapper_2 text_center" data-step="3.5">
                {% render 'quiz-step-three-response-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="4">
                {% render 'quiz-step-four-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="5">
                {% render 'quiz-step-five-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="6">
                {% render 'quiz-step-six-2' %}
              </div>

              <div class="form__step-wrapper_2 text_center" data-step="6.5">
                {% render 'quiz-step-six-response-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="7">
                {% render 'quiz-step-seven-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="8">
                {% render 'quiz-step-eight-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="9">
                {% render 'quiz-step-nine-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="10">
                {% render 'quiz-step-ten-2' %}
              </div>

              <div class="form__step-wrapper_2 text_center" data-step="10.5">
                {% render 'quiz-step-ten-response-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="11">
                {% render 'quiz-step-eleven-2' %}
              </div>

              <div class="form__step-wrapper_2" data-step="12">
                {% render 'quiz-step-twelve-2' %}
              </div>
            {% endform %}

          </div>
        </div>
      </div>
      {% comment %} <div class="quiz_2__footer">
        <div class="quiz_2__footer-links">
          {% if section.settings.footer != blank %}
            <ul class="footer__menu list-unstyled">
              {% for link in section.settings.footer.links %}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="footer__menu-link"
                  >
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div> {% endcomment %}

        {% comment %} <div class="quiz_2__footer-copyright">
          <p class="footer__copy">
            &copy; {{ shop.name | link_to: routes.root_url }}
            {{ 'now' | date: '%Y' }}. All rights reserved.
          </p>
        </div> {% endcomment %}
      </div>
      <div class="quiz_2__content-buttons buttons-begin">
        <button class="button" data-form-begin>Let's Get Started</button>
      </div>
      <div class = 'quiz_2__content_buttons_wrapper' style = 'width: 100%'>
        <div class="quiz_2__content-buttons">
          <button class="button secondary_button mobile_hidden" data-form-back>Back</button>
          <button class="quiz_back_arrow mobile_shown" data-form-back-2>
            <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-left-arrow-50.png' | asset_url }}"> 
          </button>
          <button class="button mobile-min" data-form-next disabled>Continue</button>
          <button class="button hidden" data-form-submit>
            <span class="button-text">See Your Results</span>
            <div class="loading-overlay__spinner">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" style="stroke: #FFFFFF!important;" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </section>
</formula-quiz-2>

{% schema %}
{
  "name": "Quiz 2",
  "settings": [
    {
      "type": "textarea",
      "id": "quiz_svg_logo",
      "label": "SVG Logo"
    },
    {
      "type": "link_list",
      "id": "footer",
      "label": "Footer links"
    },
    {
      "type": "textarea",
      "id": "step1",
      "label": "Step 1 Heading",
      "info": "Wrap stylized text in {}"
    },
    {
      "type": "textarea",
      "id": "step2",
      "label": "Step 2 Heading",
      "info": "Wrap stylized text in {}"
    },
    {
      "type": "textarea",
      "id": "step3",
      "label": "Step 3 Heading",
      "info": "Wrap stylized text in {}"
    },
    {
      "type": "textarea",
      "id": "step4",
      "label": "Step 4 Heading",
      "info": "Wrap stylized text in {}"
    },
    {
      "type": "textarea",
      "id": "step5",
      "label": "Step 5 Heading",
      "info": "Wrap stylized text in {}"
    }
  ]
}
{% endschema %}
